Repository JSAbrahams/mamba: changes, and which Codecov flags are due for each by the changed paths.
All: check, generate, parse, integration

Remove extra indentation in core try except (#326)
  src/generate/ast/mod.rs
  tests/resource/valid/class/generics.mamba
  tests/resource/valid/class/generics_check.py
Due: generate, integration

Remove diff and flags from codecov
  .codecov.yml
  .github/workflows/coverage.yml
  .github/workflows/test.yml
Due: none

Use default comment layout
  .codecov.yml
Due: none

Set max decrease to 0.3
  .codecov.yml
Due: none

Disable codecov patch
  .codecov.yml
Due: none

Add flags for unit, integration, smoke
  .codecov.yml
Due: none

Move codecov yml to .github dir
  .github/.codecov.yml
Due: none

Update .codecov.yml
  .github/.codecov.yml
Due: none

Add codecov config (#327)
  .github/.codecov.yml
  .github/workflows/coverage.yml
  .github/workflows/test.yml
Due: none

[ci skip] Streamline generation rules of class
  src/generate/ast/mod.rs
  src/generate/convert/class.rs
  src/parse/class.rs
  tests/resource/valid/class/generics_check.py
  tests/resource/valid/class/tuple_as_class_check.py
  tests/resource/valid/class/types.mamba
  tests/resource/valid/class/types_check.py
  tests/resource/valid/error/handle_check.py
  tests/resource/valid/error/raise_check.py
  tests/resource/valid/function/definition_check.py
  tests/resource/valid/operation/type_alias_primitive_check.py
  tests/system/valid/error.rs
  tests/system/valid/operation.rs
Due: generate, parse, integration

Fix function placement in gen
  src/generate/convert/class.rs
Due: generate

[ci skip] Add tests for type alias behaviour
  src/generate/ast/mod.rs
  src/generate/convert/class.rs
  tests/resource/valid/class/tuple_as_class_check.py
  tests/resource/valid/class/types_check.py
  tests/resource/valid/error/handle_check.py
  tests/resource/valid/operation/type_alias_primitive.mamba
  tests/resource/valid/operation/type_alias_primitive_check.py
  tests/system/valid/error.rs
  tests/system/valid/operation.rs
Due: generate, integration

Add spacing in output core
  src/generate/ast/mod.rs
Due: generate

Generate new type alias (#328)
  src/generate/ast/mod.rs
  src/generate/convert/class.rs
  src/parse/class.rs
  tests/resource/valid/class/generics_check.py
  tests/resource/valid/class/tuple_as_class_check.py
  tests/resource/valid/class/types.mamba
  tests/resource/valid/class/types_check.py
  tests/resource/valid/error/handle_check.py
  tests/resource/valid/error/raise_check.py
  tests/resource/valid/function/definition_check.py
  tests/resource/valid/operation/type_alias_primitive.mamba
  tests/resource/valid/operation/type_alias_primitive_check.py
  tests/system/valid/error.rs
  tests/system/valid/operation.rs
Due: generate, parse, integration

Get rid of "self" in grammar
  spec/grammar.md
Due: none

Remove self from grammar spec
  spec/grammar.md
Due: none

Simplify grammar
  spec/grammar.md
Due: none

Generalize and_or_a
  src/check/constrain/constraint/expected.rs
  src/check/constrain/unify/ty.rs
  src/common/result.rs
  src/parse/result.rs
Due: check, parse

[ci skip] Add tests for return type is super
  src/main.rs
  tests/check/invalid/definition.rs
  tests/resource/invalid/type/definition/function_ret_not_super.mamba
  tests/resource/valid/definition/function_ret_super.mamba
  tests/system/mod.rs
  tests/system/valid/definition.rs
Due: integration

Remove comment from newline
  spec/grammar.md
Due: none

Verify #315
  src/check/context/clss/generic.rs
  tests/check/invalid/class.rs
  tests/resource/invalid/type/class/same_parent_twice.mamba
  tests/resource/valid/class/multiple_parent.mamba
  tests/system/valid/class.rs
Due: check, integration

Make types in err msg more readable (#338)
  src/check/constrain/constraint/expected.rs
  src/check/constrain/unify/ty.rs
  src/common/result.rs
  src/parse/result.rs
Due: check, parse

Update grammar spec (#334)
  spec/grammar.md
Due: none

Use flat_map instead of for loop
  src/check/context/clss/generic.rs
Due: check

Check for duplicate parents (#342)
  src/check/context/clss/generic.rs
  tests/check/invalid/class.rs
  tests/resource/invalid/type/class/same_parent_twice.mamba
  tests/resource/valid/class/multiple_parent.mamba
  tests/system/valid/class.rs
Due: check, integration

Check access to unassigned self fields
  src/check/constrain/generate/call.rs
  tests/check/invalid/class.rs
  tests/resource/invalid/type/class/access_unassigned_class_var.mamba
Due: check, integration

Check that object has no attribute self
  tests/check/invalid/class.rs
  tests/resource/invalid/type/class/object_has_no_attribute_self.mamba
Due: integration

Make access_unassigned_class_var test explicit
  tests/resource/invalid/type/class/access_unassigned_class_var.mamba
Due: integration

Check access to unassigned self fields (#337)
  src/check/constrain/generate/call.rs
  tests/check/invalid/class.rs
  tests/resource/invalid/type/class/access_unassigned_class_var.mamba
  tests/resource/invalid/type/class/object_has_no_attribute_self.mamba
Due: check, integration

[ci skip] Generalize how name works in context
  src/check/context/clss/mod.rs
  src/check/context/mod.rs
  src/check/mod.rs
  src/check/name/mod.rs
  src/check/name/namevariant.rs
  src/check/name/stringname/mod.rs
  src/check/name/truename/mod.rs
  tests/resource/invalid/type/definition/function_ret_not_super.mamba
  tests/resource/valid/definition/function_ret_super.mamba
  tests/resource/valid/definition/function_ret_super_check.py
  tests/resource/valid/function/definition.mamba
  tests/resource/valid/function/definition_check.py
  tests/system/valid/definition.rs
Due: check, integration

[ci skip] Reorganize context
  src/check/constrain/unify/function.rs
  src/check/context/clss/concrete/mod.rs
  src/check/context/clss/concrete/union.rs
  src/check/context/clss/concrete/variant.rs
  src/check/context/clss/mod.rs
  src/check/context/field/concrete/mod.rs
  src/check/context/field/concrete/union.rs
  src/check/context/field/mod.rs
  src/check/context/function/concrete/mod.rs
  src/check/context/function/concrete/union.rs
  src/check/context/function/mod.rs
  src/check/context/mod.rs
  src/check/name/stringname/mod.rs
Due: check

Add __str__ for callable and tuple
  src/check/constrain/constraint/expected.rs
  src/check/constrain/constraint/mod.rs
  src/check/constrain/generate/call.rs
  src/check/constrain/generate/operation.rs
  src/check/context/clss/concrete/union.rs
  src/check/context/clss/concrete/variant.rs
  src/check/context/clss/mod.rs
  src/check/context/clss/python.rs
  src/check/context/function/mod.rs
  src/check/mod.rs
  src/check/name/mod.rs
  src/check/name/namevariant.rs
  src/check/name/stringname/mod.rs
  src/check/name/truename/mod.rs
  src/check/resource/std/callable.py
  src/check/resource/std/collection.py
  tests/resource/invalid/type/definition/raises_non_exception.mamba
  tests/resource/valid/function/definition.mamba
  tests/resource/valid/function/definition_check.py
Due: check, integration

Add tests for functions in class
  src/check/name/mod.rs
  src/check/name/namevariant.rs
  tests/check/invalid/definition.rs
  tests/resource/invalid/type/definition/body_is_stmt.mamba
  tests/resource/invalid/type/definition/function_ret_in_class_not_super.mamba
  tests/resource/invalid/type/definition/function_ret_not_super.mamba
  tests/resource/valid/definition/function_ret_super_in_class.mamba
  tests/resource/valid/definition/function_ret_super_in_class_check.py
  tests/system/valid/definition.rs
Due: check, integration

Style fixes
  src/check/name/mod.rs
  src/check/name/namevariant.rs
  src/check/resource/std/callable.py
Due: check

Context restructure (#341)
  src/check/constrain/constraint/expected.rs
  src/check/constrain/constraint/mod.rs
  src/check/constrain/generate/call.rs
  src/check/constrain/generate/operation.rs
  src/check/constrain/unify/function.rs
  src/check/context/clss/concrete/mod.rs
  src/check/context/clss/concrete/union.rs
  src/check/context/clss/concrete/variant.rs
  src/check/context/clss/mod.rs
  src/check/context/clss/python.rs
  src/check/context/field/concrete/mod.rs
  src/check/context/field/concrete/union.rs
  src/check/context/field/mod.rs
  src/check/context/function/concrete/mod.rs
  src/check/context/function/concrete/union.rs
  src/check/context/function/mod.rs
  src/check/context/mod.rs
  src/check/mod.rs
  src/check/name/mod.rs
  src/check/name/namevariant.rs
  src/check/name/stringname/mod.rs
  src/check/name/truename/mod.rs
  src/check/resource/std/callable.py
  src/check/resource/std/collection.py
  src/main.rs
  tests/check/invalid/definition.rs
  tests/resource/invalid/type/definition/body_is_stmt.mamba
  tests/resource/invalid/type/definition/function_ret_in_class_not_super.mamba
  tests/resource/invalid/type/definition/function_ret_not_super.mamba
  tests/resource/invalid/type/definition/raises_non_exception.mamba
  tests/resource/valid/definition/function_ret_super.mamba
  tests/resource/valid/definition/function_ret_super_check.py
  tests/resource/valid/definition/function_ret_super_in_class.mamba
  tests/resource/valid/definition/function_ret_super_in_class_check.py
  tests/resource/valid/function/definition.mamba
  tests/resource/valid/function/definition_check.py
  tests/system/mod.rs
  tests/system/valid/definition.rs
Due: check, integration

Add new try_from_pos
  src/check/constrain/constraint/expected.rs
  src/check/constrain/generate/call.rs
  src/check/constrain/generate/definition.rs
  src/check/constrain/generate/env.rs
  src/check/constrain/unify/function.rs
  src/check/constrain/unify/ty.rs
  src/check/context/arg/mod.rs
  src/check/context/clss/concrete/union.rs
  src/check/context/clss/mod.rs
  src/check/context/clss/python.rs
  src/check/context/field/concrete/union.rs
  src/check/context/field/mod.rs
  src/check/context/function/concrete/union.rs
  src/check/context/function/mod.rs
  src/check/context/function/python.rs
  src/check/context/mod.rs
  src/check/context/parent/python.rs
  src/check/name/generic.rs
  src/check/name/mod.rs
  src/check/name/namevariant.rs
  src/check/name/python.rs
  src/check/name/stringname/mod.rs
  src/check/name/truename/generic.rs
  src/check/name/truename/mod.rs
  src/check/name/truename/python.rs
  src/check/result.rs
  src/generate/name.rs
Due: check, generate

Use snake_case for true and string name
  src/check/constrain/constraint/builder.rs
  src/check/constrain/constraint/expected.rs
  src/check/constrain/constraint/iterator.rs
  src/check/constrain/constraint/mod.rs
  src/check/constrain/generate/call.rs
  src/check/constrain/generate/class.rs
  src/check/constrain/generate/env.rs
  src/check/constrain/generate/operation.rs
  src/check/constrain/unify/function.rs
  src/check/constrain/unify/ty.rs
  src/check/context/arg/generic.rs
  src/check/context/clss/concrete/union.rs
  src/check/context/clss/concrete/variant.rs
  src/check/context/clss/generic.rs
  src/check/context/clss/mod.rs
  src/check/context/clss/python.rs
  src/check/context/field/generic.rs
  src/check/context/field/mod.rs
  src/check/context/function/generic.rs
  src/check/context/function/mod.rs
  src/check/context/function/python.rs
  src/check/context/mod.rs
  src/check/context/parameter/generic.rs
  src/check/context/parameter/python.rs
  src/check/context/parent/generic.rs
  src/check/context/parent/python.rs
  src/check/name/generic.rs
  src/check/name/mod.rs
  src/check/name/name_variant.rs
  src/check/name/python.rs
  src/check/name/string_name/generic.rs
  src/check/name/string_name/mod.rs
  src/check/name/true_name/generic.rs
  src/check/name/true_name/mod.rs
  src/check/name/true_name/python.rs
  src/generate/name.rs
  tests/check/invalid/python_primitives.rs
Due: check, generate, integration

Rename to TryFromPos
  src/check/context/clss/mod.rs
  src/check/context/field/concrete/union.rs
  src/check/context/function/concrete/union.rs
  src/check/name/mod.rs
  src/check/name/name_variant.rs
  src/check/name/string_name/mod.rs
  src/check/name/true_name/mod.rs
  src/check/result.rs
Due: check

Skip unnecessary reference
  src/check/constrain/generate/env.rs
  src/check/name/mod.rs
  src/check/name/string_name/mod.rs
Due: check

Path conditions:
  check: any of: src/check/
  generate: any of: src/generate/
  parse: any of: src/parse/
  integration: any of: tests
